In [8]:
import numpy as np
import pandas as pd

In [19]:
#lading the dataset to a Pandas DataFrame
df = pd.read_csv("C:/Users/HP/Desktop/Kcreditcard.csv")

In [20]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [21]:
# dataset informations
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [22]:
# checking the number of missing values in each column
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [23]:
# distribution of legit transactions & fraudulent transactions
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This Dataset is highly unblanced

0 --> Normal Transaction
1 --> fraudulent transaction

In [51]:
# separating the data for analysis
legit = df[df.Class == 0]
fraud = df[df.Class == 1]
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [29]:
# statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [30]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [31]:
# compare the values for both transactions
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 492

In [33]:
legit_sample = legit.sample(n=492)

## Concatenating two DataFrames

In [34]:
new_df = pd.concat([legit_sample, fraud], axis=0)

In [35]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
80012,58296.0,-2.835157,3.338491,0.590865,2.025995,-0.385716,0.203306,0.214582,0.435165,0.146884,...,-0.402919,-0.616472,0.090812,-0.075519,0.038801,-0.048890,0.748077,0.461126,4.06,0
41224,40594.0,-0.507653,0.065196,1.974574,-1.711859,-0.549570,-0.978785,0.467939,-0.249975,-1.036211,...,-0.320979,-0.456116,-0.300915,0.366016,0.206764,1.010362,-0.219793,-0.179650,12.50,0
232211,147080.0,2.281999,-1.525942,-0.984363,-1.812173,-1.029998,0.177510,-1.443280,0.089706,-1.184177,...,-0.143293,0.017115,0.207558,0.056098,-0.228585,-0.189079,0.013038,-0.054392,19.40,0
151804,96284.0,2.058399,-0.227446,-1.296813,0.153758,0.347755,0.042294,-0.255271,-0.086447,2.221437,...,-0.062939,0.322451,0.007137,0.189828,0.232318,0.135982,-0.063139,-0.077939,3.30,0
137371,82133.0,1.296572,-0.832126,0.454754,-0.910760,-0.905914,0.267415,-0.921254,0.111305,-0.740033,...,-0.425059,-0.878935,-0.020810,-0.822253,0.036582,0.942034,-0.038296,0.009743,59.00,0

In [36]:
new_df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [37]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96542.152439,-0.032472,0.091709,-0.077123,0.089983,-0.040059,0.056035,0.066622,0.045679,0.049434,...,-0.030855,0.012004,-0.040157,-0.003842,0.032598,0.014166,0.009854,-0.030499,0.040101,86.419858
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [38]:
#Splitting the data into Features & Targets
X = new_df.drop(columns='Class', axis=1)
Y = new_df['Class']

In [39]:
#Split the data into Training data & Testing Data
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [52]:
print(X.shape)
print(X_train.shape, X_test.shape)

(984, 30)
(787, 30) (197, 30)

In [41]:
#Model Training
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [42]:
# training the Logistic Regression Model with Training Data
lr.fit(X_train, Y_train)

LogisticRegression()

## Accuracy Score

In [44]:
# accuracy on training data
from sklearn.metrics import accuracy_score

In [46]:
X_train_pred = lr.predict(X_train)
training_data_accuracy = accuracy_score(X_train_pred, Y_train)
training_data_accuracy

0.9377382465057179

In [50]:
# accuracy on test data
X_test_pred = lr.predict(X_test)
test_data_accuracy = accuracy_score(X_test_pred, Y_test)
test_data_accuracy

0.9289340101522843